Package: com.mody.islandnotify
Name: IslandNotify
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Dynamic Island style notification banners for all apps
Maintainer: mody
Author: mody
Section: Tweaks
Depends: mobilesubstrate
